GRAFANA_INSTANCE_ID="123123"
GRAFANA_API_KEY="abcabcabcabcabcabcab....bcabcabc="
GRAFANA_REGION="prod-eu-west-0"

OTEL_EXPORTER_OTLP_METRICS_ENDPOINT="https://otlp-gateway-${GRAFANA_REGION}.grafana.net/otlp"
OTEL_EXPORTER_OTLP_METRICS_PROTOCOL="http/protobuf"
OTEL_EXPORTER_OTLP_METRICS_HEADERS="Authorization=Basic $(echo -n $GRAFANA_INSTANCE_ID:$GRAFANA_API_KEY | base64 -w 0)"
